@font-face {
  font-family: "OktaNeue";
  src: url("/fonts/OktaNeue_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OktaNeue";
  src: url("/fonts/OktaNeue_BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "OktaNeue";
  src: url("/fonts/OktaNeue_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OktaNeue";
  src: url("/fonts/OktaNeue_LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OktaNeue";
  src: url("/fonts/OktaNeue_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OktaNeue";
  src: url("/fonts/OktaNeue_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "OktaNeue", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "OktaNeue";
}
